.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color:#828282;
    -fx-background-radius:30;
}

.left-bar{
    -fx-background-color:#D3D3D3;
    -fx-background-radius:30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-dish-card{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:30;
}

.add-rmv-box{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius:30;
}

