.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:100;
}

.transparent{
    -fx-background-color:rgba(0,0,0,0);
}

.search-button{
    -fx-background-color:#828282;
    -fx-background-radius:30;
}

.left-bar{

    -fx-background-color:#084A69;
    -fx-background-radius:30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-dish-card{
    -fx-background-color:#FFFFFF;

}

.add-rmv-box{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius:30;
}

.anchor-pane{
    -fx-background-color:#f4f4f2;
}

.plate{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:30;

}

.welcome{
-fx-background-radius:40;
}

.border-shadow{

  box-shadow: 5px 10px;

}
.textField-colorText {
-fx-text-inner-color: #808080;
}